Django>=5.1,<5.2
djangorestframework>=3.15.2
djangorestframework-simplejwt>=5.3.1
django-cors-headers>=4.4.0
psycopg2-binary>=2.9.9
gunicorn>=23.0.0
drf-spectacular>=0.27.2
python-dotenv>=1.0.1
whitenoise[brotli]>=6.7.0
django-unfold==0.96.0
pytest>=8.3.0
pytest-django>=4.9.0
